.App {
  text-align: center;
}


.nav-logo{
  height: 2.0rem;
}

.nav-bar-bg {
  background-color: #0c5079;

}

.nav-bar-btn-search {
  background-color: orange;
}


.App-link {
  color: #61dafb;
}


.footer {
  background-color: #464b4e;;
}
