.nav-logo{
  height: 2.0rem;
}

.nav-bar-bg {
  background-color: #0c5079;

}

.nav-bar-btn-search {
  background-color: orange;
}

.App-link {
  color: #61dafb;
}


.dropdown-toggle {
  color: white;
}

.dropdown-toggle:hover {
  color: white;
}

.nav-link:hover {
  background-color:#0f3044a3 ;
}

.search-bar {
  width: 500px; 
}

.custom-search-title {
  color: orange;
  font-size: 2rem;
  border: 2
}

.filter-category-title {
  color: #0c5079;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
}

.filter-border {
  color: orange;
  border-style: solid;

}
.filter-border-results{
  background-color: orange;
  color: white;
}

.footer {
  background-color: #464b4e;;
}