.App {
  text-align: center;
}


.nav-logo{
  height: 2.0rem;
}

.nav-bar-bg {
  background-color: #0c5079;

}

.nav-bar-btn-search {
  background-color: orange;
}

.App-link {
  color: #61dafb;
}


.footer {
  background-color: #464b4e;;
}

.dropdown-toggle {
  color: white;
}

.dropdown-toggle:hover {
  background-color: #2c6182a3;
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
}