@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: white;
}

.app {
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100vw;
  /* margin-top: 0.2vw; */

  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  /* margin:0px; */

}

.lImage{
  width:320px;
  height: 240px;
}
.QuestionImage{
  width:240px;
  height: 240px;
}

.laptop {
  width: 340px;
  /* height: 368px; */
  height: 430px;
  margin: 0.7rem;

  position: relative;
  border-radius: 6px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  border:1px solid #D2D2D2;
  cursor:pointer;
  /* display: flex;
  flex-direction: column; */
}


.laptop div:nth-of-type(1) {
  width: 100%;
  height: 100%;
  text-align:center;
}


.laptop div:nth-of-type(2) {
  z-index: 2;
  background-color: #F6F7FA; 
  padding: 8px 20px 24px 20px;
  height:180px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  /* flex:1; */
}

.laptop div:nth-of-type(2) p {
  font-family: "Raleway", sans-serif;
  font-weight:bold;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #1278A5;
  text-align:center;
  margin-bottom: 25px;
}
 
 .laptop div:nth-of-type(2) p.productDetail {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  font-size:15px;
  color: black;
  text-align:center;
}

.navigationLinks, #recommendedButtons{
  position:relative;
  align-self: self-start;
  margin-left:4vw;
  /* overflow:hidden;
  white-space:nowrap; */

}

.navigationLinks {
  cursor:pointer;
}

#recommendedButtons{
  margin-top:3vw;
}

.bColor, .gColor{
  display:table-cell;
}
.bColor{
  color:#1278A5;
}
.gColor{
  color:#8C939A;
}

/* #LaptopsLabel, #ShopByLaptopType, #ShopAllLaptops, #FindYourPerfectLaptop {
  position:relative;
} */
#LaptopsLabel, #ShopByLaptopType {
  position: relative;
  align-self: self-start;

  font-weight:bold;
  color: #0E4364;
  margin:2vw;
  /* padding:1vw; */
}

#LaptopsLabel{
  margin-left:7vw;
  font-size: 2.5em;
}


#ShopByLaptopType{
  margin-left:4.5vw;
  margin-top:3vw;
  font-size: 1.7em;
  padding-right:14vw;
}

#FindYourPerfectLaptop,
#ShopAllLaptops {
  color: white;
  font-size:1.15rem;
  padding:0.5vw 1vw 0.8vw 1vw;
  border-radius:0.2rem;
  cursor:pointer;
}

#ShopByLaptopType,#FindYourPerfectLaptop,
#ShopAllLaptops, #EmptySpace {
  display:table-cell;
}

#ShopAllLaptops {
  /* margin-left:17vw; */
  background-color: #186696;
}

#FindYourPerfectLaptop {
  background-color: #EE8022;

}

.aLink {
  text-decoration: none;
  color:white;
}

/* #EmptySpace{
  padding:0 1vw 0 1vw
} */


@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }


}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 35vw;
  }

  .laptop {
    width: "100%";
    margin: 1rem;
  }
  .app{
    flex-direction: row;
  }
}